<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalR")
    <script type="text/javascript" src="https://dqccomics-webapi.azurewebsites.net/signalR/hubs"></script>
    
    
    <script type="text/javascript" src="~/Scripts/statusupdates.js" ></script>
</head>
<body>
    <div class="ms-NavBar ms-bgColor-themeDarker">
        <div class="ms-NavBar-openMenu js-openMenu ms-bgColor-themeDarker">
            <i class="ms-Icon ms-Icon--menu ms-bgColor-themeDarker ms-borderColor-white"></i>
        </div>
        <ul class="ms-NavBar-items ms-fontColor-white">
            <li class="ms-NavBar-item ms-borderColor-white--hover @( ViewBag.Current=="Missions"? "is-selected" : "")">@Html.ActionLink("Missions", "Missions", "Home", new { @class = "ms-NavBar-link ms-font-l ms-fontColor-white" })</li>
            <li class="ms-NavBar-item ms-borderColor-white--hover @( ViewBag.Current=="Approved Mission"? "is-selected" : "")">@Html.ActionLink("Approved Missions", "Completed", "Home", new { @class = "ms-NavBar-link ms-font-l ms-fontColor-white" })</li>
            <li class="ms-NavBar-item ms-borderColor-white--hover ms-NavBar-item--hasMenu @( ViewBag.Current=="Reports"? "is-selected" : "")">
                <a class="ms-NavBar-link ms-font-l ms-fontColor-white" href="#">Reports</a>
                <i class="ms-NavBar-chevronDown ms-Icon ms-Icon--chevronDown"></i>
                <ul class="ms-ContextualMenu">
                    <li class="ms-ContextualMenu-item">
                        @Html.ActionLink("Assault Report", "AssaultReport", "Home", new { @class = "ms-ContextualMenu-link ms-font-m" })
                    </li>
                    <li class="ms-ContextualMenu-item">
                        @Html.ActionLink("Hero 4 Hire", "BiReport", "Home", new { @class = "ms-ContextualMenu-link ms-font-m" })
                    </li>
                    <li class="ms-ContextualMenu-item">
                        @Html.ActionLink("Assault Report", "Reporter", "Home", new { @class = "ms-ContextualMenu-link ms-font-m" })
                    </li>
                </ul>
            </li>
        </ul>
        <div id="statusUpdate" class="ms-NavBar-items ms-fontColor-white" style="display: none">hej</div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fabric")
    @RenderSection("scripts", required: false)
</body>
</html>
